{{define "cta_top"}}
<section id="cta-top">
  <div class="container">
    <div class="row">
      <div class="photo hidden-xs col-sm-4">
        <img class="img-responsive" src="/public/images/rostovtsev_cta.png" alt="Кинезиолог Ростовцев Е.В." />
      </div>
      <div class="text col-xs-12 col-sm-8">
        <p class="greeting">{{T "cta_top_greeting"}}</p>
        <p class="about_me">{{T "cta_top_about"}}</p>
        <p class="call_to_action">{{T "cta_top_text"}}</p>
        <p data-wow-delay="0.5s"  class="phone wow fadeInRight animated">{{T "site_phone"}}</p>
      </div>
    </div>
  </div>
</section>
{{end}}
