{{define "map"}}
  <div id="map-canvas">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A981d674a6f1d8a865b25a1fe918b8b32cf4337f71cb18a9de2ffcfe6b508fe93&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
{{end}}
