{{define "dashboard/sidebar"}}

<aside id="sidebar-dashboard">
  <div class="slimscroll">
    <div class="well well-sm user-info">
      <h5>Профиль пользователя</h5>
      <i class="glyphicon glyphicon-user"></i>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Настройки
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu right" role="menu" style="margin-left: -24px;">
          <li>
            <a href="/admin/edit_user/{{.ActiveUser.ID}}">
              <i class="glyphicon glyphicon-edit indent"></i>Редактировать</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/logout">
              <i class="glyphicon glyphicon-off indent"></i>Выйти</a>
          </li>
        </ul>
      </div>
      <span class="email">{{.ActiveUser.Email}}</span>
    </div>

    <h5>Навигация</h5>
    <ul class="nav nav-pills nav-stacked">
      <li class="{{isActive .Active " articles "}}">
        <a href="/admin/articles">
          <i class="glyphicon glyphicon-pencil indent"></i>Статьи</a>
      </li>
      <li class="{{isActive .Active " info "}}">
        <a href="/admin/info">
          <i class="glyphicon glyphicon-pencil indent"></i>Материалы</a>
      </li>
      <li class="{{isActive .Active " comments "}}">
        <a href="/admin/comments">
          <i class="glyphicon glyphicon-comment indent"></i>Комментарии</a>
      </li>
      <li class="{{isActive .Active " reviews "}}">
        <a href="/admin/reviews">
          <i class="glyphicon glyphicon-thumbs-up indent"></i>Отзывы</a>
      </li>
      <li class="{{isActive .Active " pages "}}">
        <a href="/admin/pages">
          <i class="glyphicon glyphicon-duplicate indent"></i>Страницы</a>
      </li>
      <li class="{{isActive .Active " users "}}">
        <a href="/admin/users">
          <i class="glyphicon glyphicon-user indent"></i>Пользователи</a>
      </li>
    </ul>
  </div>
</aside>

{{end}}