[Unit]
Description=Medical Web Server
After=network.target
After=postgresql.service

[Service]
User=tabula
WorkingDirectory=/home/tabula/medical
ExecStart=/home/tabula/medical/medical-go -mode=release
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target

