{{define "comments/public-edit-form"}}
{{template "header" .}}
{{template "navbar" .}}
<div id="main-column" class="container-fluid" role="main">
  <section id="comment-form-wrapper">
    <form method="post" data-parsley-validate>
      <fieldset>
        <legend>Ответ посетителю</legend>
        {{.csrfField}}
        <input type="hidden" name="id" value="{{.Comment.ID}}" >
        <div class="form-group">
          <label class="control-label" for="author_name">Автор</label>
          <input id="author_name" name="author_name" value="{{.Comment.AuthorName}}" class="form-control input-md" >
        </div>

        <div class="form-group">
          <label class="control-label" for="author_email">Эл. почта</label>
          <input id="author_email" name="author_email" value="{{.Comment.AuthorEmail}}" class="form-control input-md" >
        </div>

        <div class="form-group hidden">
          <label class="control-label" for="author_city">Город</label>
          <select id="author_city" name="author_city" class="form-control input-md">
            <option value="">Выберите город</option>
            {{$city := .Comment.AuthorCity}}
            {{range cityList}}
            <option value="{{.}}" {{if eq $city .}}selected{{end}}>{{.}}</option>
            {{end}}
          </select>
        </div>


        <div class="form-group">
          <label class="control-label" for="content">Вопрос</label>
          <textarea class="form-control" name="content" id="content">{{.Comment.Content}}</textarea>
        </div>

        <div class="form-group">
          <label class="control-label" for="answer">Ответ</label>
          <textarea class="form-control" name="answer" id="answer">{{.Comment.Answer}}</textarea>
        </div>

        <div class="form-group">
          <label for="published">
            <input id="published" name="published" type="checkbox" value="true" {{if .Comment.Published}}checked{{end}} >
            Опубликовать
          </label>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Сохранить" >
          <input type="button" class="btn btn-default" formnovalidate onclick="window.history.back();" value="Отмена">
        </div>
      </fieldset>
    </form>
  </section>
</div>
{{template "footer" .}}
{{end}}
