{{define "comments/show"}}
{{template "header" .}}
{{template "navbar" .}}
<div id="comment" class="container" role="main">
  <h1>{{.Title}}</h1>
  <div class="content">
    <span class="strong">{{.Comment.AuthorName}}.</span>
    {{.Comment.Content}}
  </div>
  <h3>{{T "replies_doctor"}} {{T "site_author_brief"}}</h3>
  <p class="reply text-success">
    {{.Comment.Answer}}
  </p>
  <p>
  {{T "question_about_article"}}:
    <a href="{{.Article.URL}}">{{.Article.Name}}</a>
  </p>

  <h2>{{T "similar_questions"}}</h2>
  {{template "comments/public-list" .SimilarComments}}
  {{template "comments/public-form" .}}
</div>
{{template "cta_bottom" .}}
{{template "footer" .}}
{{end}}
