{{define "footer"}}
      <div id="footer" class="full-width">
        <div class="container">
          <p class="text-muted">&copy; 2016 Миобаланс. 8(903)689-20-57, Ростовцев Евгений Владимирович, врач-кинезиолог, г. Москва.
        </div>
      </div>
      {{template "gocounter" .}}
    </div> <!-- #main-container -->
    <script src="/public/js/application.js"></script>
  </body>
</html>
{{end}}
