{{define "navbar"}}
<!-- Fixed navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <a class="navbar-brand" href="/">{{T "site_name"}}</a>
      {{$active := .Active}}
      {{range mainMenu}}
      <li class="{{isActive $active .URL}}">
        <a href="{{.URL}}">{{T .Title}}</a>
      </li>
      {{end}}
      {{if .ActiveUser}}
      <li>
        <a href="/admin"><i class="glyphicon glyphicon-cog indent"></i>{{T "dashboard"}}</a>
      </li>
      <li>
        <a href="/logout"><i class="glyphicon glyphicon-log-out indent"></i>{{T "logout"}}</a>
      </li>
      {{end}}
    </ul>
  </div><!--/.nav-collapse -->
</div>
{{end}}
