html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 75px;
}
body#public-body {
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  z-index: 10;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  border: 2px solid #62c462;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  border: 2px solid #ee5f5b;
}
textarea.form-control {
  height: 10em;
}
textarea#textarea-comment {
  height: 5em;
  transition: height .5s ease;
}

.parsley-errors-list {
  margin: 8px 0 3px 0;
  padding: 0;
  list-style-type: none;
  line-height: 0.9em;
  font-size: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;

  transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in-;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

#sidebar-dashboard {
  position: fixed;
  width: 210px;
  float: left;
  height: auto;
  left: 5px;
  bottom: 0;
  top: 0;
  padding: 50px 0 70px;
  z-index: 2;
}

#sidebar-dashboard + #main-column {
  margin-left: 215px;
  overflow: hidden;
}

#sidebar-dashboard h5 {
  padding: 10px 15px;
  font-weight: bold;
}

#sidebar {
  width: 210px;
  float: right;
  margin-bottom: 1em;
}

#sidebar + #main-column {
  margin-right: 225px;
  overflow: hidden;
  margin-bottom: 1em;
}

#sidebar h5 {
  font-weight: bold;
}

.sidebar-block {
  margin-bottom: 1em;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.table .id, .table .actions, .table .published, .table .timestamp, .table .author {
  text-align: center;
  width: 1%;
  white-space: nowrap;
}

.inline-block {
  display: inline-block;
}

.navbar .glyphicon {
  color: #333;
}

@media (min-width: 768px){
  .navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
}

.navbar-default {
  border-top: none;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 0;
  z-index: 10;
}

.navbar-dashboard {
  background-color: #eee;
}
.navbar-dashboard .navbar-brand {
  width: 210px;
  color: #333;
  background-color: #eee;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar-dashboard .navbar-brand:hover {
  color: #555;
  background-color: #eee;
}

.navbar-dashboard .navbar-brand .glyphicon {
  color: #333;
}

.user-info {
  margin-top: 20px;
}

.user-info h5 {
  padding: 0!important;
}

.user-info .glyphicon-user {
  float: left;
  font-size: 20px;
  color: #337ab7;
  margin-right: 10px;
}
.user-info .email {
  margin-top: 10px;
  font-size: 13px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  width: 175px;
  display: inline-block;
}

#sidebar-dashboard .nav li {
}
#sidebar-dashboard .nav li a{
  transition: background;
  transition-duration: 0.4s;
}
.glyphicon.indent {
  margin-right: 0.5em;
}
.post-info {
  font-size: 90%;
}
.post-info-item {
  margin-right: 1em;
}
#comments .author, #comment .author{
  font-weight: bold;
}
#comments .answer, #comment .answer{
  margin: 1em 0 0 3em;
}
#comments .answer .doctor, #comment .answer .doctor{
  font-style: italic;
}
#captcha-wrapper {
  position: relative;
  padding: 5px 50px 5px 15px;
  max-width: 20em;
  width: 100%;
}
#captcha-wrapper #ok-sign {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 28px;
  color: #1abc9c;
  opacity: 0;
  transition: opacity 0.5s ease;
}
#captcha-wrapper #ok-sign.visible {
  opacity: 1;
}
#captcha-slider .noUi-handle {
  cursor: pointer;
  transition: background-color 0.5s ease;
}
#captcha-slider .noUi-handle.ok {
  background: #1abc9c;
  box-shadow: none;
}
#submit {
  transition: opacity 0.5s ease;
}
#comment-hidden {
  display: none;
}
h2.article-title {
  font-size: 1.5em;
}
#article img, #page img, #review img {
	display: block;
	max-width: 100%;
	height: auto;
  margin: auto auto;
}
#review img {
  margin: 0 1em 1em 0;
}
#article .row.container {
  margin-left: auto!important;
  margin-right: auto!important;
}
#article section h2 {
  margin-top: 0;
}
#article .content section {
  padding: 3em 0;
  background-position: top center;
  background-size: cover;
}
#cta-top {
  position: relative;
  background-image: url('/public/images/section_bg_green.jpg');
}
#cta-top .text {
  margin: 35px 0;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0,0,0, 0.6);
}
#cta-top .greeting {
  font-size: 2em;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0,0,0, 0.8);
}
#cta-top .about_me {
  font-size: 1.3em;
  color: #3c763d;
}
#cta-top .call_to_action {
  font-size: 1.2em;
  color: #777;
}
#cta-top .phone {
  font-size: 2.5em;
  color: #fff;
}
#cta-bottom {
  background: url(/public/images/green-pattern.png) repeat 0 0;
  color: #fff;
  position: relative;
  padding: 2em 0;
  margin: 1em 0;
}
#cta-top:after, #cta-bottom:after {
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  display: block;
  position: absolute;
  background: url(/public/images/bottom-edge.png) repeat-x 4px 0;
}
#cta-bottom:before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  display: block;
  position: absolute;
  background: url(/public/images/top-edge.png) repeat-x 0 0;
}
#cta-bottom .text {
  font-size: 1.6em;
}
#cta-bottom .phone {
  font-size: 2.2em;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
#testimonials {
  background: url(/public/images/pattern-ui-faces.png) no-repeat;
  background-size: cover;
  padding: 50px 0 60px;
  color: #fff;
  margin: 1em 0;
}
#testimonials .carousel-indicators {
  bottom: -40px;
}
#map-canvas {
  height: 450px;
  margin: 0;
  padding: 0;
}
#google-map {
  padding-bottom: 0;
}
.gi-4x {
  font-size: 4em;
}
