{{define "errors/403"}}
{{template "header" .}}
{{template "navbar" .}}
<div role="main">
  <div class="jumbotron">
    <h1>Ошибка 403</h1>
    <div class="description">
      <i class="glyphicon glyphicon-exclamation-sign indent"></i>
      Похоже, доступ запрещен! {{.Error}}
    </div>
  </div>
</div>
{{template "footer" .}}
{{end}}
