{{define "articles/public-index"}}
{{template "header" .}}
{{template "navbar" .}}
<div id="main-column" class="container" role="main">
  <h1>{{.Title}}</h1>
  <div class="article-previews row">
    {{$length := len .List}}
    {{range $i, $a := .List}}
    <div class="article-preview col-sm-12 col-md-6">
      <h2 class="article-title"><a href="{{.URL}}">{{.Name}}</a></h2>
      <a href="{{.URL}}">
        <img class="img-responsive thumbnail" alt="{{.Name}}" src="{{.GetImage}}" />
      </a>
      <div class="excerpt">
        {{.Excerpt}}
        <a href="{{.URL}}">{{T "read_more"}}</a>
      </div>
    </div>
    {{if oddEvenClass $i | eq "even"}}
    <div class="clearfix"></div>
    {{end}}
    {{end}}
  </div>
</div>
{{template "footer" .}}
{{end}}
