{{define "articles/show"}}
{{template "header" .}}
{{template "navbar" .}}
<div class="container" role="main">
  <div id="main-column">
    <h1>{{.Article.Name}}</h1>
    <div class="content">{{.Article.HTMLContent}}</div>
    <div id="comments">
      {{range .Flash}}
        <div class="alert alert-info">{{.}}</div><p>
      {{end}}
      {{template "comments/public-form" .}}
      {{range .Article.Comments}}
        <div id="comment-{{.ID}}" class="well well-sm">
          <p class="author">{{.AuthorName}}, {{date .CreatedAt}}</p>
          <div class="content"> 
            {{.Content}}
          </div>
          {{if .Answer}}
          <div class="answer">
            <p class="doctor">Отвечает врач-кинезиолог Ростовцев Е.В.</p>
            {{.Answer}}
          </div>
          {{end}}
        </div>
      {{end}}
    </div>
  </div>
</div>
{{template "footer" .}}
{{end}}
