{{define "articles/show"}}
{{template "header" .}}
{{template "navbar" .}}
<div id="article" role="main">
  <div class="content">
    <h1>
      {{.Article.Name}} 
      {{if .ActiveUser}}
      <a class="btn btn-primary" href="/admin/edit_article/{{.Article.ID}}">
        {{T "edit_article"}}
      </a>
      {{end}}
    </h1>
    {{.Article.HTMLContent}}
  </div>

  <div class="container">
    <div id="comments">
      {{template "comments/public-form" .}}
      {{range .Flash}}
        <div class="alert alert-info">{{.}}</div><p>
      {{end}}
      {{template "comments/public-list" .Article.Comments}}
    </div>
  </div>
</div>

{{template "withoutpain" .}}
{{template "testimonials" .}}
{{template "sellingblock" .}}
{{template "mapp" .}}
{{template "optinform" .}}
{{template "footer" .}}
{{end}}
