{{define "emails/answer"}}
<html>
  <head>
  </head>
  <body>

    <p>Здравствуйте, {{.Comment.AuthorName}}!</p>

    <p>
      Ранее на сайте www.miobalans.ru Вы задавали вопрос:<br/>
      <i>{{.Comment.Content}}</i>
    </p>

    <p>
      Вам ответил кинезиолог, мануальный терапевт Ростовцев Евгений Владимирович: <br/>
      <strong>{{.Comment.Answer}}</strong>
    </p>

    <p>Если Вы находитесь в Москве, записаться на прием и/или задать вопрос можно по тел: 8 (903) 689-20-57.</p>
    <p>
      Просмотреть другие вопросы и ответы, связанные с Вашей проблемой, можно по ссылке:<br/>
      <a href="http://www.miobalans.ru/articles/{{.Comment.ArticleID}}-abc#comments">Вопросы и ответы</a>.
    </p>
    <p>Данное письмо было отправлено автоматически, отвечать на него не нужно.</p>

  </body>
</html>
{{end}}
