{{define "emails/question"}}
<html>
  <head>
  </head>
  <body>

    <p>Здравствуйте, Евгений Владимирович!</p>

    <p>
    На сайте www.miobalans.ru пользователь <strong>{{.Comment.AuthorName}}</strong> задавал(а) вопрос:<br/>
      <strong>г. {{.Comment.AuthorCity}}</strong><br/>
      <i>{{.Comment.Content}}</i>
    </p>

    <p>
      Чтобы на него ответить и опубликовать, перейдите по ссылке: <br/>
      <strong><a href="http://www.miobalans.ru/edit_comment?token={{.Token}}">Ответить на вопрос</a></strong>
    </p>

    <p>Данное письмо было отправлено автоматически, отвечать на него не нужно.</p>

  </body>
</html>
{{end}}
