{
  "debug": {
    "public": "public",
    "domain": "my-domain.ru",
    "session_secret": "some-secret-phrase",
    "csrf_secret": "some-csrf-secret-phrase",
    "ssl": false,
    "signup_enabled": true,
    "salt": "secret_salt_123",
    "database": {
      "host": "localhost",
      "name": "medical",
      "user": "medical",
      "password": "dbpassword"
    },
    "smtp": {
      "from": "noreply@my-domain.ru",
      "to": "someone@gmail.com",
      "cc": "someone@gmail.com",
      "smtp": "smtp.yandex.com",
      "port": "465",
      "user": "noreply@my-domain.ru",
      "password": "emailpassword"
    }
  },
  "release": {
    "public": "public",
    "domain": "my-domain.ru",
    "session_secret": "some-secret-phrase",
    "csrf_secret": "some-csrf-secret-phrase",
    "ssl": false,
    "signup_enabled": false, 
    "salt": "secret_salt_123",
    "database": {
      "host": "localhost",
      "name": "medical",
      "user": "medical",
      "password": "dbpassword"
    },
    "smtp": {
      "from": "noreply@my-domain.ru",
      "to": "someone@gmail.com",
      "cc": "someone@gmail.com",
      "smtp": "smtp.yandex.com",
      "port": "465",
      "user": "noreply@my-domain.ru",
      "password": "emailpassword"
    }
  },
  "test": {
    "public": "path_to_public_dir",
    "domain": "my-domain.ru",
    "session_secret": "some-secret-phrase",
    "csrf_secret": "some-csrf-secret-phrase",
    "ssl": false,
    "signup_enabled": true,
    "salt": "secret_salt_123",
    "database": {
      "host": "localhost",
      "name": "medical",
      "user": "medical",
      "password": "dbpassword"
    },
    "smtp": {
      "from": "noreply@my-domain.ru",
      "to": "someone@gmail.com",
      "cc": "someone@gmail.com",
      "smtp": "smtp.yandex.com",
      "port": "465",
      "user": "noreply@my-domain.ru",
      "password": "emailpassword"
    }
  }
}
