{{define "reviews/form"}}
{{template "dashboard/header" .}}
{{template "dashboard/navbar" .}}
{{template "dashboard/sidebar" .}}
<div id="main-column" class="container-fluid" role="main">
  <div class="panel panel-default">
    <div class="panel-body">
      <form method="post" enctype="multipart/form-data">
      <fieldset>
        <legend>{{.Title}}</legend>
        {{range .Flash}}
          <div class="alert alert-danger">{{.}}</div><p>
        {{end}}
        {{.csrfField}}
        <input type="hidden" name="id" value="{{.Review.ID}}" >
        <div class="form-group">
          <label class="control-label" for="author_name">{{T "author"}}</label>
          <input id="author_name" name="author_name" value="{{.Review.AuthorName}}" placeholder="{{T "author_placeholder"}}" class="form-control input-md" required="">
        </div>

        <div class="form-group">
          <label class="control-label" for="author_email">{{T "email"}}</label>
          <input id="author_email" type="email" name="author_email" value="{{.Review.AuthorEmail}}" placeholder="{{T "author_email_placeholder"}}" class="form-control input-md" >
        </div>

        <div class="form-group">
          <label class="control-label" for="video">{{T "youtube_video"}}</label>
          <input id="video" name="video" value="{{.Review.Video}}" placeholder="{{T "youtube_video_placeholder"}}" class="form-control input-md" >
        </div>

        <div class="form-group">
          <label class="control-label" for="article_id">{{T "article"}}</label>
          {{$aid := .Review.ArticleID}}
          <select id="article_id" name="article_id" class="form-control">
            <option value="" {{if eqRI $aid 0}}selected{{end}}>Не выбрана</option>
            {{range .Articles}}
            <option value="{{.ID}}" {{if eqRI $aid .ID}}selected{{end}}>{{.Name}}</option>
            {{end}}
          </select>
        </div>

        <div class="form-group">
          <label class="control-label" for="content">{{T "content"}}</label>
          <textarea class="form-control" required="" name="content" id="content">{{.Review.Content}}</textarea>
        </div>

        <div class="form-group">
          <label class="control-label" for="image">{{T "photo"}}</label>
          <input type="file" id="image" name="image" accept="image/*">
        </div>

        <div class="form-group">
          <label for="published">
            <input id="published" name="published" type="checkbox" value="true" {{if .Review.Published}}checked{{end}} >
            {{T "published"}}
          </label>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="{{T "submit"}}" >
          <input type="button" class="btn btn-default" formnovalidate onclick="window.history.back();" value="{{T "cancel"}}">
        </div>
      </fieldset>
      </form>
    </div>
  </div>
</div>
{{template "dashboard/footer" .}}
{{end}}
