{{define "reviews/review-btn"}}
<div class="text-center reviews-btn-wrapper">
  <a href="/new_review" class="btn btn-success btn-lg">
    <i class="glyphicon glyphicon-pencil indent"></i>
    Оставить свой отзыв
  </a>
</div>
{{end}}
