@import "bootstrap";
@import "nouislider";
@import "animate";
@import "lightbox";

$primary: #3379C7;
$primarylight: #5490D3;
$primarylighter: #7EADE2;
$primarydark: #1061BC;
$primarydarker: #09488E;

$secondary: #27C897;
$secondarylight: #49D4AA;
$secondarylighter: #76E3C2;
$secondarydark: #01BE85;
$secondarydarker: #009064;
$secondarylightest: #DCFCF3;


html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  font-size: 18px;
  height: 100%;
  color: #404040;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;

  &#public-body {
    background-color: $secondarylightest;
  }
}

#footer {
  background-color: $primary;
  z-index: 10;
  color: #eee;
  font-size: 16px;

  .footer-menu {

    text-align: right;

    a {
      color: #fff;
      text-transform: uppercase;
      padding: 10px 15px;
      display: inline-block;
      background-color: $primarydark;

      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  .footer-content {
    padding: 30px 15px 10px 15px;
    color: #eee;

    p {
      margin-bottom: 20px;
    }

    .glyphicon {
      font-size: 200%;
      float: left;
      margin: 5px 10px 20px 0;
    }

    .logo-wrapper {
      img {
        max-width: 70px;
        height: auto;
        margin-right: 15px;
        float: left;
      }

      .strong {
        text-transform: uppercase;
      }
    }


    .phone {
      font-size: 150%;
      color: #fff;

      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  .footer-bottom {
    background-color: $primarydark;
    padding: 15px;
  }
}

.white {
  color: #fff;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  border: 2px solid #62c462;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  border: 2px solid #ee5f5b;
}

textarea.form-control {
  height: 10em;
}

textarea#textarea-comment {
  height: 5em;
  transition: height .5s ease;
}

.parsley-errors-list {
  margin: 8px 0 3px 0;
  padding: 0;
  list-style-type: none;
  line-height: 0.9em;
  font-size: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in-;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

#sidebar-dashboard {
  position: fixed;
  width: 210px;
  float: left;
  height: auto;
  left: 5px;
  bottom: 0;
  top: 0;
  padding: 50px 0 70px;
  z-index: 2;
}

#sidebar-dashboard+#main-column {
  margin-left: 215px;
  overflow: hidden;
}

#sidebar-dashboard h5 {
  padding: 10px 15px;
  font-weight: bold;
}

#sidebar {
  width: 210px;
  float: right;
  margin-bottom: 1em;
}

#sidebar+#main-column {
  margin-right: 225px;
  overflow: hidden;
  margin-bottom: 1em;
}

#sidebar h5 {
  font-weight: bold;
}

.sidebar-block {
  margin-bottom: 1em;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.table .id,
.table .actions,
.table .published,
.table .timestamp,
.table .author {
  text-align: center;
  width: 1%;
  white-space: nowrap;
}

.inline-block {
  display: inline-block;
}

.navbar .glyphicon {
  color: #333;
}

.navbar .navbar-home a {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar .navbar-home-text {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar .navbar-phone {
  display: inline-block;
  padding: 14px;
}

@media (max-width: 992px) {
  #header-top #header-phone .phone {
    font-size: 20px !important;
  }
}

@media (max-width: 768px) {

  h1,
  .h1 {
    font-size: 26px !important;
  }

  h2,
  .h2 {
    font-size: 24px !important;
  }

  h3,
  .h3 {
    font-size: 22px !important;
  }

  h4,
  .h4 {
    font-size: 18px !important;
  }

  h5,
  .h5 {
    font-size: 16px !important;
  }

  .thumbnail-article {
    max-width: 300px;
  }

  .comment {
    .question {
      margin-right: 1.2em !important;
    }

    .answer {
      margin-left: 1.2em !important;
    }
  }
}

@media (max-width: 480px) {
  #testimonials-slide .thumbnail img {
    max-width: 100px !important;
    height: auto;
  }

  #header-phone {
    display: none;
  }
}

@media (max-width: 400px) {
  .thumbnail-article {
    max-width: 100%;
  }

  #rostphoto {
    float: none !important;
    margin: 0 auto 15px;
  }
}

@media (min-width: 300px) {
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;

    &>li {
      &>a {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
      }
    }
  }
}

#rostphoto {
  background: #fff;
  margin: 0 0 10px 20px;

  img {
    width: 100%;
  }

  a {
    display: block;
    padding: 10px 10px 0;
    font-size: 90%;
  }

  small {
    display: block;
    padding: 0 10px;
  }
}

.navbar-default {
  border-top: none;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 0;
  z-index: 10;

  .navbar-toggle {
    .icon-bar {
      background-color: #fff;
    }
  }
}

.navbar-dashboard {
  background-color: #eee;
}

.navbar-dashboard .navbar-brand {
  width: 210px;
  color: #333;
  background-color: #eee;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-dashboard .navbar-brand:hover {
  color: #555;
  background-color: #eee;
}

.navbar-dashboard .navbar-brand .glyphicon {
  color: #333;
}

.user-info {
  margin-top: 20px;
}

.user-info h5 {
  padding: 0 !important;
}

.user-info .glyphicon-user {
  float: left;
  font-size: 20px;
  color: #337ab7;
  margin-right: 10px;
}

.user-info .email {
  margin-top: 10px;
  font-size: 13px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  width: 175px;
  display: inline-block;
}

#sidebar-dashboard .nav li {
  a {
    transition: background;
    transition-duration: 0.4s;
  }
}

.glyphicon.indent {
  margin-right: 0.5em;
}

.post-info {
  font-size: 90%;
}

.post-info-item {
  margin-right: 1em;
}

#comments {
  padding: 40px 30px;
  margin-left: -30px;
  margin-right: -30px;
  background: $secondarylightest;

  .author,
  #comment .author {
    font-weight: bold;
  }

  .answer .doctor,
  #comment .answer .doctor {
    font-style: italic;
  }
}

#captcha-wrapper {
  position: relative;
  padding: 5px 50px 5px 15px;
  max-width: 20em;
  width: 100%;
}

#captcha-wrapper #ok-sign {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 28px;
  color: #1abc9c;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#captcha-wrapper #ok-sign.visible {
  opacity: 1;
}

#captcha-slider .noUi-handle {
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#captcha-slider .noUi-handle.ok {
  background: #1abc9c;
  box-shadow: none;
}

#submit {
  transition: opacity 0.5s ease;
}

#comment-hidden {
  display: none;
}

h2.article-title {
  font-size: 1.5em;
}

#page img,
#review img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto auto;
}

#review iframe {
  width: 600px;
  height: 400px;
}

#review img {
  margin: 0 1em 1em 0;
}

#article .row.container {
  margin-left: auto !important;
  margin-right: auto !important;
}

#article section h2 {
  margin-top: 0;
}

#article .content {
  padding-top: 15px;

  section {
    padding: 3em 0;
    background-position: top center;
    background-size: cover;
  }
}

#cta-top {
  position: relative;
  background-image: url('/public/images/section_bg_green.jpg');
}

#cta-top .text {
  margin: 30px 0 20px;
  text-align: center;
}

#cta-top .greeting {
  font-size: 1.5em;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

#cta-top .about_me {
  font-size: 1.3em;
  color: #555;
}

#cta-top .call_to_action {
  font-size: 1.2em;
  color: #777;
}

#cta-top .phone {
  font-size: 2.5em;
  color: #fff;
}

#cta-bottom {
  background: url(/public/images/green-pattern.png) repeat 0 0;
  color: #fff;
  position: relative;
  padding: 2em 0;
  margin: 1em 0;
}

#cta-top:after,
#cta-bottom:after {
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  display: block;
  position: absolute;
  background: url(/public/images/bottom-edge.png) repeat-x 4px 0;
}

#cta-bottom:before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  display: block;
  position: absolute;
  background: url(/public/images/top-edge.png) repeat-x 0 0;
}

#cta-bottom .text {
  font-size: 1.6em;
}

#cta-bottom .phone {
  font-size: 2.2em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

#map-canvas {
  margin: 0 -30px 0 -30px;
  padding: 0;
}

#google-map {
  padding-bottom: 0;
}

#google-map .well {
  margin: 0;
  border: none;
  border-radius: 0;
}

.gi-4x {
  font-size: 4em;
}

#navbar-scroll {
  display: none;
  border-bottom: none;
  z-index: 1000;
  font-size: 1.10em;
  height: 50px;
  overflow: hidden;
}

#navbar-scroll .navbar-nav>li {
  float: left;
}

#navbar-scroll .navbar-nav>li>a {
  color: #337ab7;
  text-decoration: underline;
}

#navbar-scroll .navbar-text {
  margin-top: 8px;
  margin-bottom: 0;
}

#navbar-scroll .btn .glyphicon {
  color: #fff;
  margin-right: 0.5em;
}

h1,
.h1 {
  margin-bottom: 1em;
  text-align: center;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 300;
  color: $secondarydarker;
}

h2,
h3,
h4 {
  text-align: center;
  margin: 25px 0 20px !important;
  text-transform: uppercase;
  font-weight: 300;
  color: $secondarydarker;
}

.review-title,
.article-preview h3 {
  font-size: 26px;
  margin-bottom: 0.5em;
  text-align: left;
}

.review-title {
  height: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #337ab7;
}

.article-previews .row {
  display: flex;

  .col-sm-4 {
    display: flex;
  }
}

.article-preview {
  margin-bottom: 30px;
  background: #fff;

  img {
    max-width: 100%;
    margin: 0 0 0.5em 0;
  }

  a {
    display: block;
    color: #333;

    h4 {
      padding: 15px;
      margin: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .excerpt {
      padding: 15px;
    }

    &:hover {
      text-decoration: none;

      h4 {
        color: #5cb85c;
      }
    }
  }

  &.infos {
    padding: 15px;
    width: 100%;

    a {
      color: #337ab7;

      &:hover {
        color: #5cb85c;
      }

      &+a {
        margin-top: 10px;
      }
    }
  }
}

#home {
  .previews {
    a {
      display: block;
      overflow: hidden;
      text-align: center;
      color: #333;
      text-decoration: none;
      font-size: 1.2em;
      transition: background-color 0.3s;

      &:hover {
        border-color: #1bcbb6;
        background: #1bcbb6;
        text-decoration: none;
      }
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: auto auto;
      margin-bottom: 5px;
    }
  }
}

.strong,
b,
strong {
  font-weight: 500;
}

.comment {
  overflow: hidden;
}

.comment .question {
  position: relative;
  padding: 15px;
  margin: 1em 70px 1em 20px;
  background: #f5f5f5;
  border-radius: 5px;
}

.comment .answer {
  overflow: hidden;
  position: relative;
  padding: 15px;
  margin: 1em 20px 1em 70px;
  background: #ffffff;
  border-radius: 5px;
}

.comment .answer img {
  float: left;
  margin: 0 15px 0 0 !important;
  width: 100px;
  height: auto;
}

.comment .answer:after {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  top: 16px;
  right: -20px;
  bottom: auto;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent #1cccb5;
}

#header-top {
  height: 80px;

  #logo {
    display: block;
    float: left;
    margin-right: 1em;
    height: 80px;
    padding-top: 10px;

    &:hover {
      text-decoration: none;
    }

    img {
      height: 55px;
      width: auto;
      margin-right: 10px;
    }

    p {
      line-height: 15px;
      padding: 5px 0 0 0;
      font-size: 14px;
      margin: 0;
    }

    #name {
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0 0 0;
      padding: 0;
      text-transform: uppercase;
    }
  }

  #header-phone {
    height: 80px;

    p {
      margin: 0;
      text-align: center;
    }

    .phone {
      padding: 7px 0 0 0;
      font-size: 30px;
      line-height: 40px;
    }

    .hours {
      padding: 0;
      line-height: 15px;
      font-size: 14px;
    }
  }
}

.navbar-header #header-cta {
  margin: 8px 15px;
  text-align: center;
}

.navbar-header #header-cta .glyphicon {
  color: #fff;
  margin-right: 0.5em;
}

#header-top #header-cta {
  height: 80px;
  float: right;
  margin-left: 1em;
}

#header-top #header-cta .btn {
  margin: 12px 0 0 0;
}

#header-top #header-cta .btn .glyphicon {
  margin-right: 0.5em;
}

#header-top #header-cta p {
  margin: 5px 0 0 0;
  padding: 0;
  line-height: 15px;
  font-size: 14px;
  text-align: right;
  padding-right: 3.5em;
}

#navbar-main {
  background: #337AC7 !important;
  border-radius: 0;
  border: none;
}

.full-width {
  margin-left: -30px !important;
  margin-right: -30px !important;
}

#navbar-main .navbar-nav>li>a {
  color: #fff;
}

#navbar-main .navbar-nav>li>a:hover,
#navbar-main .navbar-nav>li.active>a {
  color: #fff;
  background: #2e6da4;
}

#navbar-main .navbar-toggle {
  float: left;
  margin: 8px 15px;
}

#main-container {
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding-left: 30px;
  padding-right: 30px;
}

#header-bottom {
  margin: 2em 0 0 0;

  .glyphicon {
    display: block;
    float: left;
    font-size: 50px;
    margin: 0 15px 0 0;
    padding: 15px;
    border: 3px solid;
    border-radius: 50px;
    /*color: #8a6d3b;*/
    color: $secondarydark;

    &.glyphicon-plus {
      padding: 15px 12px 15px 18px;
    }
  }

  p {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 95%;
    line-height: 1.2em;

    &.strong {
      font-size: 110%;
    }
  }
}

.strike-through {
  text-decoration: line-through;
}

#home-intro {
  img {
    margin: 0 !important;
  }

  p {
    margin: 1em 0;
    padding: 0;
  }
}

#home-prices {
  margin-bottom: 50px;
  padding: 15px 0 15px 0;
  margin-left: -30px;
  margin-right: -30px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

  .glyphicon {
    display: block;
    float: left;
    font-size: 50px;
    margin: 0 10px 0 0;
  }

  p {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 95%;
    line-height: 1.2em;

    &.strong {
      color: #8a6d3b;
    }

  }
}

#disease-list {
  margin-bottom: 1em;

  a,
  span {
    display: block;
    margin: 0.3em 0;
  }
}

#withoutpain {
  margin-top: -50px;
  padding-top: 70px;
  padding-bottom: 60px;
}

#withoutpain h2,
#optin-form h2,
#testimonials h2,
#google-map h2 {
  clear: both;
}

#testimonials {
  padding: 60px 30px;
  margin-left: -30px;
  margin-right: -30px;
  background: #fafefe;
}

#testimonials-slide iframe {
  width: 300px;
  height: 200px;
  float: left;
  margin-right: 0.5em;
}

#withoutpain-slide {
  margin: 30px 15px 15px 15px;
}

#testimonials-slide {
  margin: 15px;
}

#withoutpain-slide .thumbnail,
#testimonials-slide .thumbnail {
  margin-bottom: 0;
}

#withoutpain-slide .thumbnail h3,
#testimonials-slide .thumbnail h3 {
  margin: 10px;
  padding: 0 10px;
  overflow: hidden;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#withoutpain-slide .thumbnail p,
#testimonials-slide .thumbnail p {
  margin: 5px 10px;
  padding: 0;
}

#withoutpain-slide .thumbnail ul {
  margin: 5px 10px 20px 10px;
  padding: 0 0 0 20px;
}

#withoutpain-slide .carousel-control,
#testimonials-slide .carousel-control {
  width: 5%;
  background-image: none !important;
  text-shadow: none !important;
}

#withoutpain-slide .carousel-control.left,
#testimonials-slide .carousel-control.left {
  left: -30px;
  width: 30px;
}

#withoutpain-slide .carousel-control.right,
#testimonials-slide .carousel-control.right {
  right: -30px;
  width: 30px;
}

#withoutpain-slide .carousel-control.left .glyphicon,
#testimonials-slide .carousel-control.left .glyphicon {
  left: 0;
  margin-left: 0;
  color: #5cb85c;
}

#withoutpain-slide .carousel-control.right .glyphicon,
#testimonials-slide .carousel-control.right .glyphicon {
  right: 0;
  margin-right: 0;
  color: #5cb85c;
}

#withoutpain-slide .carousel-control,
#testimonials-slide .carousel-control {
  width: 4%;
  background-image: none;
}

#withoutpain-slide .cloneditem-1,
#withoutpain-slide .cloneditem-2,
#withoutpain-slide .cloneditem-3 {
  display: none;
}

@media all and (max-width: 768px) {

  #withoutpain-slide .carousel-inner>.active.left,
  #withoutpain-slide .carousel-inner>.prev {
    left: 0;
  }

  #withoutpain-slide .carousel-inner>.active.right,
  #withoutpain-slide .carousel-inner>.next {
    left: 0;
  }

  #withoutpain-slide .carousel-inner>.left,
  #withoutpain-slide .carousel-inner>.prev.right,
  #withoutpain-slide .carousel-inner>.active {
    left: 0;
  }
}

@media all and (max-width: 768px) and (transform-3d),
all and (max-width: 768px) and (-webkit-transform-3d) {

  #withoutpain-slide .carousel-inner>.item.active.right,
  #withoutpain-slide .carousel-inner>.item.next {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }

  #withoutpain-slide .carousel-inner>.item.active.left,
  #withoutpain-slide .carousel-inner>.item.prev {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }

  #withoutpain-slide .carousel-inner>.item.left,
  #withoutpain-slide .carousel-inner>.item.prev.right,
  #withoutpain-slide .carousel-inner>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

@media all and (min-width: 768px) {

  #withoutpain-slide .carousel-inner>.active.left,
  #withoutpain-slide .carousel-inner>.prev {
    left: -33.33333333%;
  }

  #withoutpain-slide .carousel-inner>.active.right,
  #withoutpain-slide .carousel-inner>.next {
    left: 33.33333333%;
  }

  #withoutpain-slide .carousel-inner>.left,
  #withoutpain-slide .carousel-inner>.prev.right,
  #withoutpain-slide .carousel-inner>.active {
    left: 0;
  }

  #withoutpain-slide .carousel-inner .cloneditem-1,
  #withoutpain-slide .carousel-inner .cloneditem-2 {
    display: block;
  }
}

@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {

  #withoutpain-slide .carousel-inner>.item.active.right,
  #withoutpain-slide .carousel-inner>.item.next {
    -webkit-transform: translate3d(33.33333333%, 0, 0);
    transform: translate3d(33.33333333%, 0, 0);
    left: 0;
  }

  #withoutpain-slide .carousel-inner>.item.active.left,
  #withoutpain-slide .carousel-inner>.item.prev {
    -webkit-transform: translate3d(-33.33333333%, 0, 0);
    transform: translate3d(-33.33333333%, 0, 0);
    left: 0;
  }

  #withoutpain-slide .carousel-inner>.item.left,
  #withoutpain-slide .carousel-inner>.item.prev.right,
  #withoutpain-slide .carousel-inner>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

#testimonials-slide .cloneditem-1 {
  display: none;
}

@media all and (max-width: 768px) {

  #testimonials-slide .carousel-inner>.active.left,
  #testimonials-slide .carousel-inner>.prev {
    left: 0;
  }

  #testimonials-slide .carousel-inner>.active.right,
  #testimonials-slide .carousel-inner>.next {
    left: 0;
  }

  #testimonials-slide .carousel-inner>.left,
  #testimonials-slide .carousel-inner>.prev.right,
  #testimonials-slide .carousel-inner>.active {
    left: 0;
  }
}

@media all and (max-width: 768px) and (transform-3d),
all and (max-width: 768px) and (-webkit-transform-3d) {

  #testimonials-slide .carousel-inner>.item.active.right,
  #testimonials-slide .carousel-inner>.item.next {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }

  #testimonials-slide .carousel-inner>.item.active.left,
  #testimonials-slide .carousel-inner>.item.prev {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }

  #testimonials-slide .carousel-inner>.item.left,
  #testimonials-slide .carousel-inner>.item.prev.right,
  #testimonials-slide .carousel-inner>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

@media all and (min-width: 768px) {

  #testimonials-slide .carousel-inner>.active.left,
  #testimonials-slide .carousel-inner>.prev {
    left: -50%;
  }

  #testimonials-slide .carousel-inner>.active.right,
  #testimonials-slide .carousel-inner>.next {
    left: 50%;
  }

  #testimonials-slide .carousel-inner>.left,
  #testimonials-slide .carousel-inner>.prev.right,
  #testimonials-slide .carousel-inner>.active {
    left: 0;
  }

  #testimonials-slide .carousel-inner .cloneditem-1 {
    display: block;
  }
}

@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {

  #testimonials-slide .carousel-inner>.item.active.right,
  #testimonials-slide .carousel-inner>.item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }

  #testimonials-slide .carousel-inner>.item.active.left,
  #testimonials-slide .carousel-inner>.item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }

  #testimonials-slide .carousel-inner>.item.left,
  #testimonials-slide .carousel-inner>.item.prev.right,
  #testimonials-slide .carousel-inner>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

#testimonials-slide .thumbnail {
  height: 210px;
  overflow-y: scroll;

  a {
    display: block;
  }

  img {
    float: left;
    max-width: 180px;
    margin: 10px;
    margin-bottom: 3px;
  }
}

#sellingblock {
  background: #FEF5FC;
  margin-left: -30px;
  margin-right: -30px;
  padding: 60px 30px;
}

#sellingblock .thumbnail {
  max-width: 210px;
  margin-left: 1em;
}

.nowrap {
  white-space: nowrap;
}

#optin-form {
  padding-top: 50px;
  padding-bottom: 70px;
  clear: both;
  margin-left: -30px;
  margin-right: -30px;
  background-size: cover;
  background-position: center center;
  background-image: url("/public/images/optin_bg.jpg");

  h2 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  form {
    max-width: 600px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    .panel-body {
      padding: 15px;
    }
  }
}

.clearfix {
  clear: both;
}

.lowercase {
  text-transform: lowercase;
}

.thumbnail-article {
  margin-left: 1em;
  margin-bottom: 1em;
  width: 408px;

  .caption {
    color: $secondarydarker;
  }
}

.hide {
  display: none;
}

#article h1,
#article h2,
#article h3,
#page h1,
#page h2,
#page h3,
#page h4 {
  clear: both;
}

.review-previews .thumbnail {
  float: left;
  margin-right: 0.5em;
}

.diplom-lone {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 1em;
}

.bottom-1em {
  margin-bottom: 1em;
}

.btn-success.btn-outline {
  color: #5cb85c;
  background-color: transparent;

  &:hover {
    color: #4cae4c;
  }
}

#video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.parsley-required {
  color: #ee5f5b;
}

.jumbotron {
  text-align: center;
  background-color: #fafafa;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.text-dark {
  color: #333;
}

.pagination-wrapper {
  text-align: center;
  margin: 0 auto;
}

#signin,
#signup {
  .panel {
    max-width: 600px;
    margin: 30px auto;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

p,
li {
  line-height: 1.5em;
  text-align: justify;
  hyphens: auto;
}

label {
  font-weight: 500;
}

.text-success {
  color: $secondarydarker;
}